*{
  margin: 0%;
  padding: 0%;
}
body{
  background: linear-gradient(to right, black, purple);
}
.App {
  text-align: center;
}
nav{
  position: relative;
  background: linear-gradient(to right, black, purple);
  z-index: 2;
}
.section{
  margin: 20px 0px;
}
.formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 80px;
  margin-bottom: 4%;
  border-radius: 10px;
  background: white;
  box-shadow: 2px 4px 15px;
  z-index: 9;
}
.form-control{
  z-index: 9;
}
.btn_form{
  background: black;
  position: relative;
  color: white;
  padding: 2% 3%;
  z-index: 2;
  transition: all 0.3s ease ;
  font-weight: 600;
  overflow: hidden;
  border: none;
  border-radius: 10px;
}
.btn_form:hover{
  color: white;
  background: rgb(246, 219, 44);
  box-shadow: 0 0 20px yellow;
  border-color: yellow;
}
.btn_form::after{
  content: '';
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: 0.9s ease-in-out all;
  border-radius: 100px;
  transform-origin: center;
}
.btn_form.activo::after{
  transform: scale(1200);
  background: purple;
}
@media only screen and (max-width: 320px){
  .navbar-brand span{
    font-size: 8px;
  }
  .tasks_counter{
    scale: .5;
    gap: 15px;
  }
  .input-add {
    scale: .7;
    margin-right: 0%!important;
  }
  .tasks_list{
    padding: 0% 4%!important; 
  }
  ul {
    margin-top: 7px!important;
  }
  .input-update{
    font-size: 11px!important;
  }
}
@media only screen and (min-width: 321px) and (max-width: 390px){
  .navbar-brand span{
      font-size: 12px;
  }
  .hometext{
    font-size: xx-small;
  }
  .tasks_counter{
    scale: .7;
    gap: 15px;
  }
  .input-add {
    scale: .9;
    margin-right: 0%!important;
  }
  .tasks_list{
    padding: 0% 4%!important; 
  }
  ul {
    margin-top: 10px!important;
  }
  .input-update{
    font-size: 15px!important;
  }
}
.todo_card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn_add{
  background: rgb(4, 163, 33);
  position: relative;
  color: white;
  padding: 2% 3%;
  z-index: 2;
  transition: all 0.3s ease ;
  font-weight: 600;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  margin-right: 2%;
}
.btn_add:hover{
  color: white;
  background: rgb(4, 163, 33);
  box-shadow: 0 0 20px rgb(32, 212, 19);
  border-color: rgb(32, 212, 19);
}
.btn_add::after{
  content: '';
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.6s ease-in-out all;
  border-radius: 100px;
  transform-origin: center;
}
.btn_add.activo::after{
  transform: scale(400);
  background: rgb(16, 106, 2);
  z-index: -1;
}
.tasks_counter{
  display: flex;
  justify-content: space-around;
}
.Add_section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn_delete{
  background: rgb(246, 44, 44);
  position: relative;
  color: white;
  padding: 2% 3%;
  z-index: 2;
  transition: all 0.3s ease ;
  font-weight: 600;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  margin-left: 2%;
}
.btn_delete:hover{
  color: white;
  background: rgb(246, 44, 44);
  box-shadow: 0 0 20px rgb(255, 0, 119);
  border-color: rgb(255, 0, 119);
}
.btn_delete::after{
  content: '';
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.6s ease-in-out all;
  border-radius: 100px;
  transform-origin: center;
}
.btn_delete.activo::after{
  transform: scale(400);
  background: rgb(174, 3, 3);
  z-index: -1;
}
.btn_edit{
  background: rgb(44, 125, 246);
  position: relative;
  color: white;
  padding: 3px 5px;
  z-index: 2;
  transition: all 0.3s ease ;
  font-weight: 600;
  overflow: hidden;
  border: none;
  border-radius: 5px;
  margin-left: 35%;
}
.btn_edit:hover{
  color: white;
  background: rgb(44, 125, 246);
  box-shadow: 0 0 20px rgb(44, 185, 246);
  border-color: rgb(44, 185, 246);
}
.btn_edit::after{
  content: '';
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.6s ease-in-out all;
  border-radius: 100px;
  transform-origin: center;
}
.btn_edit.activo::after{
  transform: scale(400);
  background: rgb(23, 2, 249);
  z-index: -1;
}
.container-done {
	background-color: white;
  padding: 2% 3%;
  z-index: 2;
	width: 24px;
	height: 24px;
	border-radius: 5px;
  margin-left: 4%;
	border: 2px solid rgb(4, 163, 33);
	cursor: pointer;
  font-weight: 600;
}
.input-update {
	border: none;
	font-weight: 500;
	font-family: inherit;
	font-size: 18px;
	color: #555;
	width: 100%;
	outline: none;
}
.container-done.active {
	background-color: rgb(4, 163, 33);
}

.text-decoration-dashed {
	text-decoration: line-through;
}
.input-add {
  width: 50%;
	border: none;
	outline: none;
	padding: 5px 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	flex: 1;
	font-family: inherit;
	font-size: 17px;
	color: #555;
  margin-right: 5%;
}
ul {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 15px;
  padding-left: 0%;
}

ul li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

ul li span {
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
}

ul li form {
	flex: 1;
	display: flex;
	justify-content: space-between;
}
.tasks_list{
  padding: 0% 15%;
}
.btn_home{
  background: black;
  position: relative;
  color: white;
  margin-top: 20px;
  padding: 2% 3%;
  z-index: 2;
  transition: all 0.3s ease ;
  font-weight: 600;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}
.botonName{
  z-index: 3;
  text-decoration: none!important;
  color: white;
}
.btn_home:hover{
  color: white;
  background: rgb(246, 219, 44);
  box-shadow: 0 0 20px yellow;
  border-color: yellow;
}
.btn_home::after{
  content: '';
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: 0.9s ease-in-out all;
  border-radius: 100px;
  transform-origin: center;
}
.btn_home.activo::after{
  transform: scale(1200);
  background: purple;
}
.homepage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 80px;
  margin-bottom: 4%;
  border-radius: 10px;
  background: white;
  box-shadow: 2px 4px 15px;
  z-index: 9;
}
.homevideo{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.rh5v-DefaultPlayer_controls{
  display: none;
}
.rh5v-Overlay_inner{
  display: none;
}
.rh5v-DefaultPlayer_video{
  width: 100%;
  height: auto;
}
hr{
  padding: 0%;
  margin: 0%;
}
.lista{
  display: flex;
  align-items: left;
  cursor: pointer;
  margin: 3px 5px 3px 5px;
}
#tsparticles{
  z-index: -1!important;
}
textarea{
  resize: none;
  padding: 1%;
  width: 100%;
  height: 20%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.noti{
  color: red;
}
ul .btnLogin{
  display: contents;
}
a{
  text-decoration: none;
}
.text-decoration-dashed{
  color: #8d8c8c;
}
.descDiv{
  background-color: #edecec;
}
.items{
  border: 1px solid;
  border-radius: 7px;
  box-shadow: 5px 5px 5px #ccc;
  display: grid;
  overflow: hidden;
}